<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; url=/landing1">
    <title>Test Completed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='abc.css') }}">
</head>
<body>
    <div class="completion-container">
        <span class="completion-icon">✔️</span>
        <h2>Test Completed</h2>
        <div class="completion-message">You can close the window now!</div>
    </div>
</body>
</html>
